<template>
  <Page>
    <Navigation></Navigation>
  </Page>
</template>

<script>
import Navigation from '../pages/MainPage';

export default {
  components: { Navigation },
  data () {
    return {
      msg: 'Hello World!'
    };
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}
</style>
