<template>
  <FlexboxLayout flexDirection="row" class="card">
    <ProductCard :product="product"/>
    <Label :text="quantity" class="card__text"/>
    <FlexboxLayout flexDirection="column">
      <Button :text="'+'" @tap="addProduct()"/>
      <Button :text="'-'" @tap="removeProduct()"/>
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script>
import ProductPage from '../pages/ProductPage';
import ProductCard from './ProductCard';
import product from '../store/product';

export default {
  name: 'CartProductItem',
  components: { ProductCard },
  props: ['product'],
  data () {
    return {
      quantity: this.$store.getters.getCart.get(this.product)
    };
  },
  methods: {
    getThumbnail () {
      return `http://89.87.208.225:5666/products/images/${this.product.id}/${this.product.associations.images[0].id}`;
    },
    onClicked () {
      this.$store.commit('selectProduct', this.product);
      this.$navigateTo(ProductPage, { props: { product: this.product } });
    },
    addProduct () {
      this.quantity = this.$store.getters.getCart.get(this.product) + 1;
      this.$store.dispatch('addToCart', { product: this.product });
    },
    removeProduct () {
      this.quantity = this.$store.getters.getCart.get(this.product) - 1;
      this.$store.dispatch('removeFromCart', { product: this.product });
    }
  }
};
</script>

<style scoped lang="scss">
.card {
  justify-content: center;
  align-items: center;

  &__image {
    width: 128;
    height: 128;
  }

  &__text {
    font-size: 24px;
    //text-align: middle;
  }
}
</style>
