<template>
  <FlexboxLayout
      class="card"
      width="50%"
      flexDirection="column"
      backgroundColor="White"
      @tap="$emit('tap', category)"
  >
    <Image :src="getThumbnail()" class="card__image"></Image>
    <Label :text="category.name" class="card__title"/>
  </FlexboxLayout>
</template>

<script>
export default {
  name: 'CategoryCard',
  props: ['category'],
  methods: {
    getThumbnail () {
      return `http://89.87.208.225:5666/categories/images/${this.category.id}`;
    }
  }
};
</script>

<style scoped lang="scss">
.card {
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__image {
    height: 500px
  }

  &__title {
    color: black;
    font-size: 24rem;
  }
}
</style>
