<template>
  <FlexboxLayout flexDirection="column" width="50%" class="card" @tap="openProductPage()">
    <Image :src="getThumbnail()" class="card__image"></Image>
    <Label :text="product.name"></Label>
    <FlexboxLayout>
      <Label :text="product.price.substring(0, product.price.indexOf('.') + 3) + '€'"></Label>
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script>
import ProductPage from '../pages/ProductPage';

export default {
  name: 'ProductCard',
  props: ['product'],
  methods: {
    getThumbnail () {
      if (this.product.associations?.images) {
        return `http://89.87.208.225:5666/products/images/${this.product.id}/${this.product.associations.images[0].id}/small_default`;
      }
    },
    openProductPage () {
      this.$store.commit('selectProduct', this.product);
      this.$navigateTo(ProductPage, { props: { product: this.product } });
    }
  }
};
</script>

<style scoped lang="scss">
.card {
  align-items: center;

  &__image {
    width: 128;
    height: 128;
  }

  &__text {
    font-size: 48px;
    color: red;
    text-align: middle;
  }
}
</style>
