<template>
  <StackLayout orientation="vertical" backgroundColor="#F1F1F1" width="100%">
    <Button class="button-red" @tap="disconnect()">Disconnect</Button>
    <Label text="Your personal information" class="text-center text-8xl font-bold"/>
    <FlexboxLayout flexDirection="column" class="form">
      <!--Firstname-->
      <TextField v-model="firstname" class="form__input"/>

      <!--Lastname-->
      <TextField v-model="lastname" class="form__input" hint="Your last name"/>

      <!--Email-->
      <TextField v-model="email" class="form__input" text="Your email address"/>

      <!--password-->
      <TextField class="form__input" hint="Your old password"/>

      <!--New password-->
      <TextField class="form__input" hint="Your new password"/>

      <!--Birthday-->
      <DatePicker class="form__input"/>

      <Button @tap="updateUser()" text="Update"/>
    </FlexboxLayout>
  </StackLayout>
</template>

<script>
import SigninPage from './SigninPage';
import CategoriesChoicePage from './CategoriesChoicePage';
import axios from 'axios';

export default {
  name: 'AccountPage',
  methods: {
    /**
     * Disconnect a user and redirect him to the Signin page
     */
    disconnect () {
      this.$store.commit('disconnect');
      this.$navigateTo(SigninPage);
    },
    /**
     * Update user in API and redirect to categories page when done
     */
    async updateUser () {
      const { firstname, lastname, password, email, birthday } = this;
      // Convert to prestashop birthday format (YYYY-MM-DD)

      try {
        const userData = (await axios.patch('/customers', { firstname, lastname, password, email, birthday })).data;
        this.$store.commit('setUserData', { userData });
      } catch (e) {
        console.error(e);
      }
    },
  },
  computed: {
    firstname: {
      get() {
        return this.$store.getters.firstname;
      },
      set(firstname) {
        return this.$store.commit('setFirstname', { firstname });
      }
    },
    lastname: {
      get() {
        return this.$store.getters.lastname;
      },
      set(lastname) {
        return this.$store.commit('setLastname', { lastname });
      }
    },
    password: {
      get() {
        return this.$store.getters.password;
      }
    },
    email: {
      get() {
        return this.$store.getters.email;
      },
      set(email) {
        return this.$store.commit('setEmail', { email });
      }
    },
    birthday: {
      get() {
        return this.$store.getters.birthday;
      },
      set(birthday) {
        birthday = birthday.toISOString().split('T')[0]
        return this.$store.commit('setBirthday', { birthday });
      }
    }
  }
};
</script>

<style scoped lang="scss">
.button {
  &-red {
    background-color: #7a3232;
  }
}

.form {
  margin-top: 96px;

  &__label {

    &-title {
      font-size: 24rem;
      font-weight: bold;
    }

    &-comment {

    }
  }

  &__input {
    border: 1px solid black;
    background-color: #F1F1F1;
  }
}
</style>
