<template>
  <StackLayout class="cart">
    <StackLayout>
      <CartProductItem v-for="[product, quantity] in this.$store.getters.cartProducts"
                       :key="product.id"
                       :product="product"
                       :quantity="quantity"/>
    </StackLayout>
    <Label :text="'Final price: ' + finalPrice" class="cart__label-3xl cart__label-center cart__label-bold cart__label-spacey"/>
  </StackLayout>
</template>

<script>
import CartProductItem from '../components/CartProductItem';

export default {
  name: 'CartPage',
  props: ['product'],
  components: { CartProductItem },
  computed: {
    finalPrice: {
      get () {
        return this.$store.getters.getFinalPrice.toFixed(2);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.cart {
  &__label {
    &-3xl {
      font-size: 16rem;
      line-height: 1;
    }
    &-center {
      text-align: center;
    }
    &-bold {
      font-weight: 700;
    }
    &-spacey {
      margin-top: 32rem;
    }
  }
}
</style>
