<template>
  <Scrollview class="form">
    <FlexboxLayout flexWrap="wrap" v-if="categories">
      <CategoryCard @tap="selectCategory"
                    v-for="category in categories"
                    :key="category.id"
                    :category="category"/>
    </FlexboxLayout>
    <StackLayout orientation="vertical" v-else-if="products">
      <RadAutoCompleteTextView ref="autocomplete"
                               :completionMode="this.completionMode"
                               :suggestMode="this.suggestMode"
                               :displayMode="this.displayMode"
                               :items="this.items"
                               @didAutoComplete="openProductPage"
                               width="100%"
      >
      </RadAutoCompleteTextView>
      <FlexboxLayout flexDirection="row" flexWrap="wrap">
        <ProductCard v-for="product in products"
                     :product="product"
                     :key="product.id"/>
      </FlexboxLayout>
    </StackLayout>
  </Scrollview>
</template>

<script>
import CategoryCard from '../components/CategoryCard';
import ProductCard from '../components/ProductCard';
import ProductPage from './ProductPage';
import { ObservableArray } from '@nativescript/core';
import { TokenModel } from 'nativescript-ui-autocomplete';

export default {
  name: 'CategoriesChoicePage',
  components: { CategoryCard, ProductCard },
  methods: {
    selectCategory (category) {
      this.currentCategory = category;
    },
    /**
     * Opens a product page, found from store by name
     * @param token The token user's clicked on
     */
    openProductPage ({ token }) {
      const selectedProduct = this.products.find(product => product.name === token);
      this.$store.commit('selectProduct', { selectedProduct });
      this.$navigateTo(ProductPage, { props: { product: selectedProduct } });
      this.$refs.autocomplete.resetAutoComplete();
    },
  },
  computed: {
    currentCategory: {
      get () {
        return this.$store.getters.currentCategory;
      },
      set (category) {
        this.$store.commit('setCurrentCategory', { category });
      }
    },
    categories: {
      /**
       * Returns the current categories sub-categories
       */
      get () {
        if (!this.currentCategory?.associations?.categories) return;

        // Get all subcategories ids
        const ids = this.currentCategory.associations.categories.map(category => category.id);
        // We use an equality comparator because category id an integer and ids from associations are string
        return this.$store.getters.categories.filter(category => {
          return ids.find(id => category.id == id);
        });
      }
    },
    products: {
      /**
       * Return the current's category products
       */
      get () {
        // Check if category has products
        if (!this.currentCategory?.associations?.products) return;

        // Get all products ids
        const ids = this.currentCategory.associations.products.map(product => product.id);
        // We use an equality comparator because product id an integer and ids from associations are string
        return this.$store.getters.products.filter(product => {
          return ids.find(id => product.id == id);
        });
      }
    },
    items: {
      get () {
        let dataItems = new ObservableArray();
        this.products.forEach(product => {
          dataItems.push(
              new TokenModel(
                  product.name,
                  `http://89.87.208.225:5666/products/images/${product.id}/${product.associations.images[0].id}`
              )
          );
        });

        return dataItems;
      }
    }
  }
};
</script>

<style scoped>
.form {
  padding-left: 48px;
  padding-right: 48px;
}
</style>
