<template>
  <Page actionBarHidden="true" backgroundColor="#F1F1F1" class="form">
    <Tabs selectedIndex="2" tabsPosition="bottom">
      <TabStrip>
        <TabStripItem>
          <Label text="" class="icomoon"/>
        </TabStripItem>
        <TabStripItem @tap="setDefaultCategory()">
          <Label text="" class="icomoon"/>
        </TabStripItem>
        <TabStripItem>
          <Label :text="' (' + productCount + ')'" class="icomoon"/>
        </TabStripItem>
        <TabStripItem>
          <Label text="" class="icomoon"/>
        </TabStripItem>
      </TabStrip>

      <TabContentItem>
        <ProductListPage :products="this.$store.getters.products"/>
      </TabContentItem>
      <TabContentItem>
        <CategoriesChoicePage v-if="this.$store.getters.currentCategory"/>
        <!-- Placeholder to let categories load -->
        <Image v-else src="~/assets/images/NativeScript-Vue.png"/>
      </TabContentItem>
      <TabContentItem>
        <CartPage/>
      </TabContentItem>
      <TabContentItem>
        <AccountPage/>
      </TabContentItem>
    </Tabs>
  </Page>
</template>

<script>
import ProductListPage from './ProductListPage';
import CartPage from './CartPage';
import AccountPage from './AccountPage';
import CategoriesChoicePage from './CategoriesChoicePage';

export default {
  name: 'Navigation',
  components: { CategoriesChoicePage, ProductListPage, CartPage, AccountPage },
  async mounted () {
    await this.$store.dispatch('loadCategories');
    await this.$store.dispatch('loadProducts');
    this.setDefaultCategory();
  },
  methods: {
    setDefaultCategory() {
      this.$store.commit('setCurrentCategory', {
        category: this.categories.find(category => category.name === 'Accueil')
      });
    }
  },
  computed: {
    categories: {
      get () {
        return this.$store.getters.categories;
      }
    },
    productCount: {
      /**
       * Returns the product count in cart
       * @return {number} The number of product
       */
      get () {
        return this.$store.getters.getProductCount
      }
    }
  }
};
</script>

<style scoped lang="scss">
</style>
