<template>
  <ScrollView>
    <StackLayout>
      <RadAutoCompleteTextView ref="autocomplete"
                               :completionMode="this.completionMode"
                               :suggestMode="this.suggestMode"
                               :displayMode="this.displayMode"
                               :items="this.items"
                               @didAutoComplete="openProductPage"
                               width="100%"
      />
      <FlexboxLayout flexWrap="wrap">
        <ProductCard v-for="product in this.products"
                     :product="product"
                     :key="product.id"/>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>
</template>

<script>
import ProductCard from '../components/ProductCard';
import Navigation from './MainPage';
import {
  AutoCompleteCompletionMode,
  AutoCompleteDisplayMode,
  AutoCompleteSuggestMode,
  TokenModel
} from 'nativescript-ui-autocomplete';
import { ObservableArray } from '@nativescript/core';
import ProductPage from './ProductPage';

export default {
  name: 'ProductListPage',
  props: ['products'],
  components: { Navigation, ProductCard },
  data () {
    return {
      completionMode: AutoCompleteCompletionMode.StartsWith,
      suggestMode: AutoCompleteSuggestMode.Suggest,
      displayMode: AutoCompleteDisplayMode.Plain,
    };
  },
  methods: {
    /**
     * Opens a product page, found from store by name
     * @param token The token user's clicked on
     */
    openProductPage ({ token }) {
      const selectedProduct = this.products.find(product => product.name == token);
      this.$store.commit('selectProduct', { selectedProduct });
      this.$navigateTo(ProductPage, { props: { product: selectedProduct } });
      this.$refs.autocomplete.resetAutoComplete();
    },
  },
  computed: {
    items: {
      get () {
        let dataItems = new ObservableArray();
        this.products.forEach(product => {
          dataItems.push(
              new TokenModel(
                  product.name,
                  `http://89.87.208.225:5666/products/images/${product.id}/${product.associations.images[0].id}/small_default`
              )
          );
        });

        return dataItems;
      }
    }
  }
};
</script>

<style scoped>

</style>
