<template>
  <Page actionBarHidden="true">
    <StackLayout>
      <Image :src="getThumbnail()"></Image>
      <Label :text="this.product.name"/>
      <Label :text="this.product.price"/>
      <Label text="Tax included"/>
      <Label :text="this.product.description.replace(/<\/?[^>]+(>|$)/g, '')"/>
      <Button text="Add to cart" @tap="addProductToCart()"/>
    </StackLayout>
  </Page>
</template>

<script>
import MainPage from './MainPage';

export default {
  name: 'ProductPage',
  props: ['product'],
  methods: {
    getThumbnail () {
      return `http://89.87.208.225:5666/products/images/${this.product.id}/${this.product.associations.images[0].id}/large_default`;
    },
    addProductToCart () {
      this.$store.dispatch('addToCart', { product: this.product });
      this.$navigateTo(MainPage);
    }
  }
};
</script>

<style scoped>

</style>
