<template>
  <Page backgroundColor="red" actionBarHidden="true">
    <FlexboxLayout class="form" flexDirection="column" backgroundColor="White">
      <!--Firstname-->
      <TextField v-model="firstname" class="form__input" hint="Your first name"/>

      <!--Lastname-->
      <TextField v-model="lastname" class="form__input" hint="Your last name"/>

      <!--Email-->
      <TextField v-model="email" class="form__input" hint="Your email address"/>

      <!--password-->
      <TextField v-model="password" class="form__input" hint="Your password" :secure="password"/>

      <!--Birthday-->
      <DatePicker v-model="birthday" class="form__input"/>

      <Button text="Sign up !" @tap="signup($event)"/>
    </FlexboxLayout>
  </Page>
</template>

<script>
import axios from 'axios';
import MainPage from './MainPage';
import { ToastDuration, ToastPosition, Toasty } from 'nativescript-toasty';
import { Color } from '@nativescript/core';

export default {
  name: 'LoginPage',
  components: { MainPage },
  data () {
    return {
      firstname: '',
      lastname: '',
      email: '',
      password: '',
      birthday: ''
    };
  },
  methods: {
    async signup () {
      try {
        const { firstname, lastname, email, password } = this;
        // Convert to prestashop birthday format (YYYY-MM-DD)
        let birthday = this.birthday.toISOString().split('T')[0];

        let auth = await axios.post('/auth/create', {
          firstname, lastname, email, password, birthday
        });
        const userData = auth.data;
        this.$store.commit('setUserData', { userData });
        this.$navigateTo(MainPage);
      } catch (e) {
        console.error(e);
      }
    },
  }
};
</script>

<style scoped>

.form {
}

</style>
