<template>
  <Page actionBarHidden="true" class="form">
    <FlexboxLayout
        flexDirection="column"
        justifyContent="space-between"
        class="form">
      <StackLayout>
        <Image src="~/assets/images/preston_logo_7.png"/>
        <TextField class="form__input-greyborder form__input-spaced" hint="Email" v-model="email"/>
        <TextField class="form__input-greyborder form__input-spaced" hint="Password" v-model="password" :secure="password"/>
        <Button @tap="signin">Login!</Button>
      </StackLayout>
      <FlexboxLayout justifyContent="space-between">
        <Label text="Sign up !" @tap="navigateToSignUpPage()" class="form__label-spaced form__label-underlined form__label-mediumbold"/>
        <Label text="Forgot password ?" class="form__label-spaced form__label-underlined form__label-mediumbold"/>
      </FlexboxLayout>
    </FlexboxLayout>
  </Page>
</template>

<script>
import axios from 'axios';
import MainPage from './MainPage';
import SignupPage from './SignupPage';
import { ToastDuration, ToastPosition, Toasty } from 'nativescript-toasty';
import { Color } from '@nativescript/core';

export default {
  name: 'LoginPage',
  components: { MainPage },
  data () {
    return {
      email: '',
      password: ''
    };
  },
  mounted () {
    // If user is already logged in, skip this page and navigate to main page
    if (this.$store.getters.email) {
      this.$navigateTo(MainPage);
    }
  },
  methods: {
    /**
     * Login to API, update the store and redirects to main page
     * @return
     */
    async signin () {
      const { email, password } = this;

      try {
        let auth = await axios.post('/auth', { email, password });
        const userData = auth.data;
        this.$store.commit('setUserData', { userData });
        this.$navigateTo(MainPage);
      } catch (e) {
        console.error(e);
      }
    },
    navigateToSignUpPage () {
      this.$navigateTo(SignupPage);
    }
  }
};
</script>

<style scoped lang="scss">
.form {
  height: 100%;

  &__image {
    &-absolute {
      position: absolute;
    }
  }

  &__input {
    &-gradient {
    }
    &-spaced {
      margin-left: 128px;
      margin-right: 128px;
    }
    &-greyborder {
      border-color: #414141;
    }
  }

  &__label {
    &-3xl {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
    &-mediumbold {
      font-medium: 500;
    }
    &-semibold {
      font-weight: 600;
    }
    &-spaced {
      margin: 96px 128px;
    }
    &-underlined {
      text-decoration: underline;
    }
  }
}
</style>
