// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/orange';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.icomoon {
  font-family: "icomoon";
  font-weight: 800;
  font-size: 20rem;
  line-height: 1;
}
